@model IEnumerable<LeerplatformJH.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="custtable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inschrijvingsdatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inschrijvingsdatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
@section Scripts
    {
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $('#custtable').DataTable({
                "ajax": {
                    "url": "/Students/LoadAllStudenten",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "studentId" },
                    { "data": "achternaam" },
                    { "data": "voornaam" },
                    { "data": "email" },
                    { "data": "inschrijvingsdatum" },
                    { "data": "vakInschrijvingen" },
                    { "data": "lessen" }
                ]
            });
        });
    </script>
}