@model LeerplatformJH.Models.Les

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Les</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TijdstipStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TijdstipStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TijdstipEinde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TijdstipEinde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokaal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokaal.Omschrijving)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
