@model IEnumerable<LeerplatformJH.Models.Les>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="custtable" class="display">
    <thead>
        <tr>
            <th>
               Vak
            </th>
            <th>
                Omschrijving
            </th>
            <th>
                Start van de les
            </th>
            <th>
                Einde van de les
            </th>
            <th>
                Lokaal
            </th>
            <th>
                Docent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TijdstipStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TijdstipEinde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokaal.Titel)
            </td>
                <td>
                   Prof. @Html.DisplayFor(modelItem => item.Docent.Achternaam)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
@section Scripts
    {
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $('#custtable').DataTable({
                "ajax": {
                    "url": "/Les/LoadAllLessen",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LesId"},
                    { "data": "Titel"},
                    { "data": "Omschrijving" },
                    { "data": "TijdstipStart"},
                    { "data": "TijdstipEinde"},
                    { "data": "Lokaal.Titel"},
                    { "data": "Docent.Achternaam"},
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return data.Lokaal.Titel;
                        }
                    }
                ]

            });
        });
    </script>
    }
