@model LeerplatformJH.Models.ViewModels.StudentLessen

<h2>Lessen voor @Model.Student.Voornaam @Model.Student.Achternaam</h2>

<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Omschrijving</th>
            <th>Lokaal</th>
            <th>Start van de les</th>
            <th>Einde van de les</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var les in Model.Lessen)
        {
            <tr>
                <td>@les.Titel</td>
                <td>@les.Omschrijving</td>
                <td>@les.Lokaal?.Titel</td>
                <td>@les.TijdstipStart.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@les.TijdstipEinde.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
        }
    </tbody>
</table>





